django>=5.0.0
djangorestframework
pyyaml
djangorestframework-simplejwt
pillow
django-filter
django-cors-headers
markdown 
mysql
mysql-connector
mysql-connector-python
#install latest version of node must be > 18 

